h1 {
  text-align: center;
  background-color: DarkBlue;
  color: white;
  padding-left:12px;
  font-size: 60px	
}


h2 { 
  background-color: CornflowerBlue;
  color: DarkBlue;
  padding-left: 12px
  font-size: 
}

h3 {
  background-color: Cornsilk;
  color: DarkBlue;
}

.navbar {
  padding: 12px;
  ;
}

p {
  text-align:;
  background-color: ;
  color: DarkBlue;
  padding-left: 12px
}


img {
  
  background-color: lightpurple;
  box-shadow: ;
  width:15%; 
  height: 15%;
 
}

section {
  background-color: ;
}

table {
  padding-lef:12px ;
}




