h1 {
  text-align: center;
  background-color: Purple;
  color: white;
  padding-left:12px;
  font-size: 60px	
}



h2 {
  color: purple;
  padding-left: 12px
  font-size: 
}

h3 {
  background-color: ;
  color: purple;
}

.navbar {
  padding: 12px;
  ;
}

p {
  text-align:;
  background-color: ;
  color: navy;
  padding-left: 12px
}


img {
  
  background-color: lightpurple;
  box-shadow: ;
 
}

section {
  background-color: ;
}

table {
  padding-lef:12px ;
}




