h1 {
  text-align: center;
  background-color: DarkBlue;
  color: white;
  padding-left:12px;
  font-size: 60px	
}



h2 {
  color: DarkBlue;
  padding-left: 12px
  font-size: 
}

h3 {
  background-color: DarkBlue ;
  color: white;
}

.navbar {
  padding: 12px;
  ;
}

p {
  text-align:;
  background-color: ;
  color: DarkBlue;
  padding-left: 12px
}


img {
  
  background-color: lightpurple;
  box-shadow: ;
 
}

section {
  background-color: ;
}

table {
  padding-lef:12px ;
}




